<h1>Pools#index</h1>
<p>Find me in app/views/pool/index.html.erb</p>

<a href="pools/new">hoi</a>

<%= javascript_tag do %>
  App.initialize();
<% end %>
<div id="example"></div>

<div id="list-pools"></div>
<script> React.renderComponent(FilterableProductTable( {products:PRODUCTS} ), document.body); </script>    <script src="test.js"></script>
