<h1>Pools#index</h1>
<p>Find me in app/views/pool/index.html.erb</p>

<a href="pools/new">hoi</a>
<div id="example"></div>

<script> React.renderComponent(FilterableProductTable( {products:PRODUCTS} ), document.querySelector("#example")); </script>