<% title "Vrienden uitnodigen" %>
<div class="grid-r">
  <div class="medium-3-4">
    <div class="box">
      <div class="pool-step">
        <div class="steps">
          <div class="step active">
            1. <span class="default-hide small-show">Pool informatie</span>
          </div>
          <div class="step active">
            2. <span class="default-hide small-show">Bevestigen</span>
          </div>
          <div class="step active">
            3. <span class="default-hide small-show">Vrienden uitnodigen</span>
          </div>
        </div>
      </div>

      <div class="content-header">
        <h1>3. Vrienden uitnodigen</h1>
      </div>

      <div class="pool-invite">
        <p>Door de onderstaande link te kopieren en te versturen, kun je mensen naar jouw zojuist aangemaakte WK pool leiden. Klik eenmaal op de link om deze te selecteren kopieer deze om te delen met al je vrienden!
        </p>
        <div class='form-search'>
          <div>
            <input onclick="this.select();" type="text" value="<%= (request.base_url) + (url_for @pool) %>">
          </div>
        </div>
        </br>
          <%= link_to 'Klik om door te gaan naar jouw pool', pool_path(@pool.id),:class => 'btn green' %>
      </div>
    </div>
  </div>
  <div class='default-0 medium-1-4'>
    <%= render "shared/aside" %>
    <%= render "shared/aside_ad" %>
  </div>
</div>