<% title @pool.name %>
<div class='grid-r'>
  <div class='medium-3-4'>
    <div class='box'>
      <div class='content-header'>
        <h1>Speler overzicht - <%= @pool.name %></h1>
      </div>
      <div class='pool-list'>
        <ul>
          <% @pool.users.each do |user| %>
            <li>
              <div class='view-table'>
                <a class='grey pool-list-inner view-row'>
                  <div class='pool-list-txt'>
                    <%= link_to user.nickname, user_path(user), :class => 'grey pool-list-inner view-row' %>
                  </div>
                </a>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class='default-0 medium-1-4'>
    <%= render "shared/aside" %>
  </div>
</div>

<%= javascript_tag do %>
  filterHandle();
  rangeSlider();
<% end %>

