<strong>Original score:  </strong>          
<% @teams.each do |team| %>
  <% @teamprediction.each do |teamprediction| %>
  <% if team.originalposition == nil %>
    hoi
    <% else %>
    nein 
    <% end %>
    <% end %>
<% end %>

<table id="myTable" class="table admin"> 
  <thead>
    <tr>            
      <th>Poolmembership</th>
      <th>Team</th>
      <th>Pouleprediction</th>
    </tr>
  </thead>
  <% Teamprediction.all.each do |myes| %>
    <tr>
      <td><%= myes.poolmembership_id %></td>
      <td><%= myes.team_id %></td>
      <td><%= myes.pouleposition %></td>
    </tr>
  <% end %>
</table>