<% title "Dashboard" %>
<div class="grid-r">
  <div class="medium-3-4">
   <div class="box">
      <div class="content-header">
        <h1>Dashboard</h1>
      </div>

      <% if current_user.poolmemberships.count < 1 %>
      <div id="contentflash" class="contentflash error">
        <div class="view-table">
          <div class="view-row">
            <div class="flashcontent-icon"><i class="fa fa-users"></i></div>
            <div class="contentflash-text">Let op! Je hebt je nog niet bij een pool aangesloten!</div>
          </div>
        </div>
          <script>contentflashMessage();</script>
      </div>
      <% end %>

      <div id="contentflash" class="contentflash success">
        <div class="view-table">
          <div class="view-row">
            <div class="flashcontent-icon"><i class="fa fa-file-text"></i></div>
            <div class="contentflash-text">Het is nu mogelijk om je poule eindstanden te wijzigen! Zie nieuwe melding.</div>
          </div>
        </div>
          <script>contentflashMessage();</script>
      </div>

      <div class="notifications">
        <div class="notification-header">
          <h2>Meldingen</h2>
        </div>
        <div class='notification-list'>
          <ul>
            <li>
              <div class='view-table'>
                <div class='grey notification-list-inner view-row' href='#modal' rel='modal:open'>
                  <div class='notification-list-icon'>
                   <p> <i class="fa fa-file-text" style="color:#3FC380;"></i>
                  </div>
                  <div class='notification-list-txt'>
                    <p>mijnwkpool - Administrator <small>- Melding - maandag 16 juni 2014</small></p>
                    <h3>
                      Poule eindstanden.<br/>
                      Omdat het ons is opgevallen dat er veel gebruikers zijn welke de poule eindstanden nog niet hebben ingevuld, en het nog wel mogelijk is om de knock-out fase in te vullen, is er besloten jullie de mogelijkheid te geven om de poule eindstanden nog tot 21.00 uur op dinsdag 17 juni a.s. in te vullen. Na dit moment zal Brazilië namelijk zijn tweede wedstrijd spelen. Er is hiervoor gekozen omdat het niet mogelijk is om de knock-out fase in te vullen zonder de poule eindstanden ingevuld te hebben. Voor de knockoutfase is nog steeds de onderstaande melding van kracht. 
                    </h3>
                  </div>
                </div>
              </div>
            </li>               
            <li>
              <div class='view-table'>
                <div class='grey notification-list-inner view-row' href='#modal' rel='modal:open'>
                  <div class='notification-list-icon'>
                   <p> <i class="fa fa-file-text" style="color:#3FC380;"></i>
                  </div>
                  <div class='notification-list-txt'>
                    <p>mijnwkpool - Administrator <small>- Melding - donderdag 12 juni 2014</small></p>
                    <h3>
                      Inmiddels is de eerste wedstrijd van het wk begonnen en staan alle voorspellingen van de poule fase vast. Ook de poule eindstanden zijn logischerwijs niet meer aan te passen. Vanaf nu meespelen is alleen nog mogelijk in de knockout fase.<br/> <br/> BELANGRIJK:<br/>  Mensen die al mee spelen, en de knockout fase al ingevuld hebben, moeten dit nog een keer doen. Dit door recente wijzigingen in het systeem. Het beste is om iedere ronde, achtste, kwart, halve en finale na te kijken en op opnieuw in te voeren en op te slaan. Er zijn mogelijk verschuivingen in landen gekomen, hierdoor kunnen je voorspellingen niet meer kloppen. Excuses voor het ongemak. Je hebt hiervoor tot en met 27 juni de tijd (zie spelregels). Vragen en/of opmerkingen: info@mijnwkpool.com of via Facebook.
                    </h3>
                  </div>
                </div>
              </div>
            </li>          
            <li>
              <div class='view-table'>
                <div class='grey notification-list-inner view-row' href='#modal' rel='modal:open'>
                  <div class='notification-list-icon'>
                   <p> <i class="fa fa-file-text"></i>
                  </div>
                  <div class='notification-list-txt'>
                    <p>mijnwkpool - Administrator <small>- Patch notes - dinsdag 10 juni 2014</small></p>
                    <h3>
                      - Voorspellen van poule eindstanden toegevoegd.<br/>                    
                      - Voorspellen van knockout wedstrijden toegevoegd.<br/>
                      - Wachtwoord vergeten optie toegevoegd.<br/>
                      - Responsive design updates.<br/>                      
                      - Bug fixes en verbeteringen door gehele systeem.
                    </h3>
                  </div>
                </div>
              </div>
            </li>          
            <li>
              <div class='view-table'>
                <div class='grey notification-list-inner view-row' href='#modal' rel='modal:open'>
                  <div class='notification-list-icon'>
                   <p> <i class="fa fa-file-text"></i>
                  </div>
                  <div class='notification-list-txt'>
                    <p>mijnwkpool - Administrator <small>- Patch notes - woensdag 28 mei 2014</small></p>
                    <h3>
                      - Voorspellen van poule wedstrijden toegevoegd.<br/>
                      - Pools kunnen aangepast worden door de beheerder.<br/>
                      - Uitslagen van andere gebruikers kunnen worden bekeken.<br/>
                      - Dashboard update.<br/>
                      - Aanmelden voor nieuwsbrief voor nieuwe gebruiker toegevoegd.<br/>
                      - Tekst verbeteringen.<br/>
                      - Bug fixes en verbeteringen door gehele systeem.
                    </h3>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class='view-table'>
                <div class='grey notification-list-inner view-row' href='#modal' rel='modal:open'>
                  <div class='notification-list-icon'>
                   <p> <i class="fa fa-file-text"></i>
                  </div>
                  <div class='notification-list-txt'>
                    <p>mijnwkpool - Administrator <small>- Patch notes - woensdag 7 mei 2014</small></p>
                    <h3>
                      - ‘Mijn pools’ toegevoegd aan het mobiele menu.<br/>
                      - Gebruikersnamen linken naar desbetreffende profielen.<br/>
                      - Individuele pools bekijken via pool pop-up in ‘Alle pools’.<br/>
                      - Links geüpdatet.<br/>
                      - E-mailadressen bij inloggen en registreren zijn niet meer hoofdlettergevoelig.<br/>
                      - Tekst updates.<br/>
                      - Overige bug fixes en verbeteringen.
                    </h3>
                  </div>
                </div>
              </div>
            </li>

            <li>
              <div class='view-table'>
                <div class='grey notification-list-inner view-row' href='#modal' rel='modal:open'>
                  <div class='notification-list-icon'>
                   <p> <i class="fa fa-file-text"></i>
                  </div>
                  <div class='notification-list-txt'>
                    <p>mijnwkpool - Administrator</p>
                    <h3>Welkom in je mijnwkpool dashboard, in de toekomst zullen hier meldingen van je pools, vrienden en mijnwkpool verschijnen. Ook zullen hier gegevens komen te staan en kun je jezelf onder andere terugvinden in tussenstanden. Momenteel draait mijnwkpool nog in een testfase. Wanneer je problemen ervaart of suggesties hebt, voel je vrij om dit te melden.</h3>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
  <div class='default-0 medium-1-4'>
    <%= render "shared/aside" %>
    <%= render "shared/aside_admin" %>
    <%= render "shared/aside_ad" %> 
  </div>
</div>
