<% if current_user %>
<div class='box aside'>
  <div class='side-header'>
    <h2>Voorspellingen</h2>
  </div>
  <div class='pool-list-small'>
    <% if current_user.poolmemberships.count > 0 %>
    <ul>
    <% current_user.poolmemberships.each do |pool| %>
      <li>
        <%= link_to new_prediction_path(pool.pool_id),:class => 'grey' do %>
          <%= Pool.find(pool.pool_id).name %>
        <% end %>
      </li>
    <% end %>
    </ul>
    <% else %>
    <br>
    <p>Je zit nog niet in een pool.</p>
    <br>
    <% end %>
  </div>
</div>
<% end %>