
  <title>Foutje!</title>
  <style>
    * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .box {
      background-color: #fff;
      box-shadow: 0 3px 0px 0px #ccc;
      margin: 40px auto;
      width: 600px;
    }

    h1 {
      font-size: 3em;
      color: #ff6819;
      font-weight: 700;
    }
    p {
      color: #959595;
    }
    .content-header {
      border-bottom: 1px solid #cccccc;
      padding: 30px;
    }
    .content-body {
      padding: 30px;
    }
    .btn {
      box-shadow: 0 3px 0 0 #35a970;
      background-color: #3fc380;
      color: #FFF;
      font-size: 16px;
      font-size: 1rem;
      border: none;
      border-radius: 0;
      cursor: pointer;
      display: block;
      font-family: sans-serif;
      font-weight: 400;
      margin: 0;
      min-height: 50px;
      outline: none;
      padding: 14px 20px;
      text-align: center;
      text-decoration: none;
      -webkit-appearance: none;
    }
    .btn:hover {
      background-color: #35a970;
    }
    .btnwrapper {
      padding: 0 30px 30px;
    }
  </style>


  <div class="box">
    <div class="content-header">
      <h1>Foutje!</h1>
    </div>
    <div class="content-body">
      <p>Weet je zeker dat je alle rondes in de goede volgorde hebt ingevuld? Rondes voorspellen zonder landen te weten wordt lastig. Succes!</p>
    </div>
    <div class="btnwrapper">
		<A href="javascript:javascript:history.go(-1)">Klik hier om naar de vorige pagina te gaan</A>    </div>
  </div>

