h1 {
  @include respond-to(small) {
    @include font-size($font-size * 3);
  }
  @include font-size($font-size * 2);
  color: $color-orange-light;
  font-weight: $font-weight-bold;
}

h2 {
  @include respond-to(small) {
    @include font-size($font-size * 2);
  }
  @include font-size($font-size * 1);
  color: $color-grey-medium;
  font-weight: $font-weight-bold;
}

h3 {
  @include font-size($font-size * 1);
  color: $color-grey-darker;
  font-weight: $font-weight-normal;
}

p {
  @include font-size($font-size * 1);
  color: $color-grey-medium;

  & + p {
    margin-top: 1em;
  }
}

a {
  color: $color-blue-light;

  &:hover,
  &:active {
    color: $color-blue-dark;
  }

  &.grey {
    color: $color-grey-medium;

    &:hover,
    &:active {
      color: $color-grey-dark;
    }
  }

  &.white {
    color: #FFF;
  }

  &.no-under {
    text-decoration: none;
  }
}