@mixin grid($media) {
  .#{$media}-1,
  .#{$media}-1-1,
  .#{$media}-1-2,
  .#{$media}-1-3,
  .#{$media}-2-3,
  .#{$media}-1-4,
  .#{$media}-3-4 {
    display: block;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
  }

  .#{$media}-1,
  .#{$media}-1-1 {
    width: 98%
  }

  .#{$media}-1-2, {
    width: 48%;
  }

  .#{$media}-1-3 {
    width: 31.33%;
  }

  .#{$media}-2-3 {
    width: 64.66%;
  }

  .#{$media}-1-4 {
    width: 23%;
  }

  .#{$media}-3-4 {
    width: 73%;
  }

  .#{$media}-0,
  .#{$media}-hide {
    display: none;
  }
  .#{$media}-show {
    display: initial;
  }
}

@include grid(default);

@include respond-to(small) {
  @include grid(small);
}
@include respond-to(medium) {
  @include grid(medium);
}
@include respond-to(large) {
  @include grid(large);
}

.grid-r{
  @include clearfix;
}