.admin
{
  .table{

    &.admin {
          margin-top: 30px;
        
      tbody > tr > td {

        border-left: 0px;
        border-right:0px;

        &:nth-child(1) {
              padding-left:0;

            }

        &:last-child{
          padding-right:0;
          
        }
      }
    }

    &.admin-add-country
    {
      tbody > tr > td {
        border:0px;

        &:nth-child(2), &:nth-child(3) {
              width:60px;
              text-align:right;
              padding-left: 0;
              padding-right: 0;
            }
      }
      
      input[type=number].predict{
        height:53px;
        width:53px;
      }
    }

    .green{
      color:#FFF!important;
    }
  }
  select.dropdown{
    width:200px;
  }

  h3.country-title{
    margin-top:40px;
    font-size: 1.1em;
    font-weight: $font-weight-bold;
  }
}