.header-wrapper {
  background: #FFF;
  box-shadow: 0 3px 0 $color-grey-light;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-inner {
  height: 70px;
  position: relative;

  @include respond-to(small) {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond-to(large) {
    max-width: 1220px;
  }
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -18px;
  top: 10px;
  width: 36px;

  @include respond-to(small) {
    left: 50%;
    margin-left: -154px;
    top: 20px;
    width: 306px;
  }
  @include respond-to(medium) {
    left: 20px;
    margin-left: 0;
  }
}

.nav {
  position: absolute;
  left: 10px;
  top: 13px;

  @include respond-to(small) {
    left: 20px;
    top: 28px;
  }

  @include respond-to(medium) {
    left: 360px;
    top: 0;
  }

  ul {
    list-style: none;

    li {
      float: left;
      position: relative;

      &:hover{
        background-color: $color-grey-lighter;

        ul.sub-menu {
          display:block;
        }
      }

      a {
        display: block;
        line-height: 100px;
        padding: 0 20px;
        text-decoration: none;

        &:hover {
          background-color: $color-grey-lighter;

          ul.sub-menu {
            display:block;
          }
        }
      }
      &.active a {
        background-color: $color-grey-lighter;
        color: $color-grey-dark;
      }

      ul.sub-menu {
        display:none;
        position: absolute;
        z-index: 99;
        top: 85px;
        left: 0;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 17px 5px rgba(50, 50, 50, 0.15);
        border-bottom: 3px solid $color-grey-light;


        li{
          width:100%;
          white-space:nowrap;
          background-color: #FFFFFF;

          &:last-child a{
            border-bottom: none;
          }

          a{
            margin:0 20px;
            padding:20px 0;
            line-height: 10px;
            color:$color-grey-light;
            border-bottom: 1px solid $color-grey-light;
          background-color: #FFFFFF;

            &:hover{
              background-color: #FFF;
              color:$color-grey-dark;
            }

            .fa{
              line-height: inherit;
            }
          }
        }
      }

      &:nth-child(2){
        ul.sub-menu {
          &:before {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #FFF;
            content: "";
            display: block;
            margin-top: -7px;
            margin-left:60px;
            position: absolute;
            top: 0;
            width: 0;
          }
        }
      }

      &:nth-child(3){
        ul.sub-menu {
          &:before {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #FFF;
            content: "";
            display: block;
            margin-top: -7px;
            margin-left:90px;
            position: absolute;
            top: 0;
            width: 0;
          }
        }
      }

    }
  }
}

.nav-btn {
  border: 1px solid $color-grey-light;
  color: $color-grey-dark;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.nav-user-options {

  position: absolute;
  right: 10px;
  top: 15px;

  @include respond-to(small) {
    right: 20px;
    top: 30px;
  }

  .nav-user-btn {
    display: table-cell;
    height: 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 40px;
    border:1px solid $color-grey-light;

    @include respond-to(large) {
      width: auto;
      padding: 0 10px;
    }

    & + .nav-user-btn {
      border-left:none;
    }
  }

  .nav-user-name {
    @include respond-to(small) {
      padding: 0 10px;
      width: auto;

      .user-name {
        display: inline-block;
      }

      .user-icon {
        display: inline-block;
      }
    }
  }

  .user-icon {
    margin-left: 0;
    @include respond-to(large) {
      display: inline-block;
    }
  }

  .user-name {
    display: none;
    @include respond-to(large) {
      display: inline-block;
    }
  }
}

.mobile-nav {
  background-color: $color-grey-darker;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 60px;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 99;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;


  &.closed {
    left: -300px;
  }

  h3 {
    @include font-size($font-size * 1.5);
    color: #ff6819;
    font-weight: bold;
    padding: 50px 20px 10px;
  }

  ul {
    border-top: 1px solid $color-grey-dark;
    list-style: none;

    li {
      a {
        border-bottom: 1px solid $color-grey-dark;
        color: #FFF;
        display: block;
        padding: 20px;
        text-decoration: none;

        &:active,
        &:hover {
          background-color: $color-grey-dark;
        }
      }
    }
  }
  .nav-close-btn {
    border: 1px solid $color-grey-dark;
    color: #FFF;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    width: 40px;
  }
}