.header-wrapper {
  background: #FFF;
  box-shadow: 0 3px 0 $color-grey-light;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header-inner {
  height: 70px;
  position: relative;

  @include respond-to(small) {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond-to(large) {
    max-width: 1220px;
  }
}

.logo {
  position: absolute;
  left: 50%;
  margin-left: -18px;
  top: 10px;
  width: 36px;

  @include respond-to(small) {
    left: 50%;
    margin-left: -154px;
    top: 20px;
    width: 306px;
  }
  @include respond-to(medium) {
    left: 20px;
    margin-left: 0;
  }
}

.nav {
  position: absolute;
  left: 10px;
  top: 13px;

  @include respond-to(small) {
    left: 20px;
    top: 28px;
  }

  @include respond-to(medium) {
    left: 360px;
    top: 0;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      a {
        display: block;
        line-height: 100px;
        padding: 0 20px;
        text-decoration: none;

        &:hover {
          background-color: $color-orange-light;
          color: #FFF;
        }
      }
      &.active a {
        background-color: $color-orange-light;
        color: #FFF;
      }
    }
  }
}
.nav-btn {
  border: 1px solid $color-grey-light;
  color: $color-grey-dark;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.user {
  border: 1px solid $color-grey-light;
  position: absolute;
  right: 10px;
  top: 15px;

  @include respond-to(small) {
    border: none;
    right: 20px;
    top: 30px;
  }


  a {
    display: table-cell;
    height: 40px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 40px;
    @include respond-to(small) {
      width: auto;
    }

    & > div {
      display: inline-block;
    }
}

  .user-icon {
    margin-left: 0;
    @include respond-to(small) {
      margin-left: 5px;
      padding-right: 15px;
    }
  }

  .user-name {
    display: none;
    @include respond-to(small) {
      display: inline-block;
    }
  }
}

.mobile-nav {
  background-color: $color-grey-darker;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding-top: 60px;
  position: fixed;
  top: 0;
  width: 240px;
  z-index: 99;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;

  &.closed {
    left: -240px;
  }

  h3 {
    @include font-size($font-size * 1.5);
    color: #ff6819;
    font-weight: bold;
    padding: 50px 20px 10px;
  }

  ul {
    border-top: 1px solid $color-grey-dark;
    list-style: none;

    li {
      a {
        border-bottom: 1px solid $color-grey-dark;
        color: #FFF;
        display: block;
        padding: 20px;
        text-decoration: none;

        &:active,
        &:hover {
          background-color: $color-grey-dark;
        }
      }
    }
  }
  .nav-close-btn {
    border: 1px solid $color-grey-dark;
    color: #FFF;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    width: 40px;
  }
}