@import "font-awesome/scss/font-awesome";

@import 'modules/all';

@import 'style';
@import 'header';
@import 'pool_overview';
@import 'pool_new';
@import 'pool_invite';
@import 'register_login';
@import 'userdashboard';
@import 'pooldashboard';
@import 'predictions';
@import 'knockoutfase';
@import 'pouleresults';
@import 'poulebonus';
@import 'welcome';
@import 'profile';
@import 'admin';

@import 'home';