/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require reset
 *= require grid
 *= require_tree .
 */
article input[type="text"], input[type="radio"], input[type="password"]{
	width: 425px;
	border-bottom: 2px solid #A9A9A9;
	box-sizing:border-box;
	border:0;
	border-bottom: 5px solid #CCCCCB;

}
article input[type="radio"]{
	width: 125px;
	display: none;
	padding-top:10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}
input[type="radio"] + label{
	background: gray;
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
	height: 150px;
	padding-top:10px;
	padding-left: 15px;
	padding-right: 15px;
}
input[type="radio"]:checked + label{

	border:0;
	background: #2ECC71;
	border-bottom: 5px solid #27AE60;
	font-family: 'Droid Sans', sans-serif;
	font-size: 16px;
} 