* {
  box-sizing: border-box;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

html {
  color: #404040;
  font: 400 1em/1.5 'Droid Sans',sans-serif;
}

body {
  background-color: #EDECE9;
}

h1 {
  color: #F9690E;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 1.5rem 0;
  text-align: center;
}
form {
  width: 100%;
}
p {
  font-size: 1rem;
  line-height: 1.5;
}
a {
  color: #3c99d1;
}
a:hover,
a:active {
  color: #3080b0;
}
.cf {
  content: "";
  display: table;
  clear: both;
}

.container {
  background-color: #FFFFFF;
  padding: 20px;
  width: 100%;
}
.steps {
  display: table;
  margin: 0 auto;
}
.step {
  background-color: #ECF0F1;
  color: #696969;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  position: relative;
}
.step:after {
  border-bottom: 25px solid transparent;
  border-left: 25px solid #ECF0F1;
  border-top: 25px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: 100%;
  position: absolute;
  top: 0;
  width: 0;
}
.step:before {
  border-bottom: 25px solid #ECF0F1;
  border-left: 25px solid transparent;
  border-top: 25px solid #ECF0F1;
  content: "";
  display: block;
  height: 0;
  right: 100%;
  position: absolute;
  top: 0;
  width: 0;
}
.step.active {
  background-color: #F9690E;
  color: #FFFFFF;
}
.step.active:after {
  border-left-color: #F9690E;
}
.step.active:before {
  border-bottom-color: #F9690E;
  border-top-color: #F9690E;
}
.step:first-child:before {
  border-bottom-color: transparent;
  border-top-color: transparent;
}
.step:last-child:after {
  border-left-color: transparent;
}
.step + .step {
  margin-left: 30px;
}

.avatar {
  position: relative;
  margin: 0 auto;
  max-width: 265px;
  text-align: center;
}

.avatar img {
  position: relative;
}

.avatar button{
  bottom: 5%;
  position: absolute;
  max-width: 90%;
  left: 5%;
}

.field {
  margin-bottom: 30px;
}
.field span {
  display: block;
  margin-top: 10px;
}
label {
  color: #696969;
  display: block;
  margin-bottom: 10px;
}
input[type=text],
input[type=password] {
  border: 1px solid #CCC;
  border-radius: 0;
  box-shadow: 0 2px 0 0 #CCC;
  color: #999;
  display: block;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 50px;
  padding: 0 10px;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
}
input[type=text]:focus,
input[type=password]:focus {
  border-color: #95A5A6;
  box-shadow: 0 2px 0 0 #95A5A6;
}
.error input[type=text],
.error input[type=password] {
  border-color: #EF4836;
  box-shadow: 0 2px 0 0 #EF4836;
  color: #EF4836
}
.error span {
  color: #EF4836;
  display: block;
  margin-top: 10px;
}
.field input[type="radio"]{
  width: 125px;
  display: none;
  padding-top:10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
input[type="radio"] + label{
  background-color: #ECF0F1;
  border: none;
  box-shadow: 0 3px 0 0 #D2D7D3;
  color: #696969;
  cursor: pointer;
  display: inline-block;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 50px;
  line-height: 50px;
  margin: 0;
  outline: none;
  padding: 0 20px;
  -webkit-appearance: none;
}
input[type="radio"]:checked + label{
  background-color: #3FC380;
  color: #FFFFFF;
  box-shadow: 0 3px 0 0 #35a970;
}
button,
.btn {
  background-color: #ECF0F1;
  border: none;
  border-radius: 0;
  box-shadow: 0 3px 0 0 #D2D7D3;
  color: #696969;
  cursor: pointer;
  display: block;
  font-family: 'Droid Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 50px;
  /*line-height: 50px;*/
  margin: 0;
  outline: none;
  padding: 0 20px;
  -webkit-appearance: none;
}
button.primary,
.btn.primary {
  background-color: #3FC380;
  color: #FFFFFF;
  box-shadow: 0 3px 0 0 #35a970;
}
button.fullwidth,
.btn.fullwidth {
  width: 100%;
}
button.inline,
.btn.inline {
  display: inline-block;
}
button:hover,
.btn:hover {
  background-color: #D2D7D3;
}
button.primary:hover,
.btn.primary:hover {
  background-color: #35a970;
}
.next {
  float: right;
}
.prev {
  float: left;
}
#private_pool_enabled {
  display: none;
}

.field_with_errors input {
   border:1px solid red;
   box-shadow: 0 2px 0 0 red;
 }

.field_with_errors {
   color: red;
 }

.field_with_errors input[type=text]:focus,
.field_with_errors input[type=password]:focus {
  border-color: red;
  box-shadow: 0 2px 0 0 red;
}



@media (max-width: 480px) {
  .prev span {
    display: none;
  }
}

@media (max-width: 679px) {
  .avatar {
    margin-bottom: 30px;
    max-width: 265px;
  }

  .avatar button {
    left: 5%;
    max-width: 90%;
  }
}

@media (min-width: 680px) {
  h1 {
    font-size: 3rem;
    text-align: left;
  }
  .container {
    padding: 40px;
  }
  .avatar {
    margin: 0;
  }
  .form_container_steps {
    padding-left: 30px;
  }
  .prev + .next {
    float: left;
    margin-left: 5px;
  }
  :not(.prev) + .next {
    float: none;
  }
}

@media (min-width: 880px) {
  .container {
    box-shadow: 0 3px 0px 1px #D2D7D3;
    margin: 40px auto;
    width: 880px;
  }
}

.hide {
  display: none !important;
}